.form-item {
  display: grid;

  grid-template-columns: var(--label-width) 1fr;
  align-items: center;
  background-color: var(--h-color-white);
  padding: 16rpx 32rpx;
  // border-bottom: 1rpx solid var(--hr-neutral-color-2);
  color: var(--hr-neutral-color-8);


  .label {
    padding-top: 32rpx;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;

    &.item-require {
      &::after {
        content: '*';
        color: var(--hr-error-color-6);
      }
    }
  }


  .container-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-body-switch {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
    }

    &:first-child {
      flex: 1;
    }

    .verify-btn {
      color: var(--hr-brand-color-6);
    }

    .form-item-verify-disabled {
      color: var(--hr-neutral-color-5);
    }

    .content-show {
      width: 100%;
      text-align: right;
      color: var(--hr-neutral-color-10);
    }

    .ocr {
      color: var(--hr-brand-color-6);
      background-color: var(--hr-brand-color-1);
      border-radius: 28rpx;
      padding: 6rpx 24rpx;
      font-size: var(--hr-font-size-xxs);
      font-weight: 600;

      display: flex;
      align-items: center;

      .icon-camera {
        font-size: var(--hr-font-size-xl);
        margin-right: 5rpx;
        font-weight: 500;
        position: relative;
        top: 2rpx;
      }
    }
  }

  :deep(input),
  :deep(textarea) {
    color: var(--hr-neutral-color-10) !important;
    font-size: var(--hr-font-size-base);
    background-color: var(--h-color-white) !important;
    opacity: 1;
    //! TODO: 不建议在这里定死高度， 如果页面需要自定义行样式 可以使用 rowStyle 参数注入 或者样式穿透
  }

  &.form-item-bold {

    &.form-item-filled {

      :deep(input),
      :deep(textarea),
      .content-show {
        font-weight: 600;
      }
    }
  }

  .select-item {
    pointer-events: none;
  }


  &.form-item-disabled {

    // wx
    :deep(input),
    :deep(textarea) {
      color: var(--hr-neutral-color-8) !important;
    }


    // alipay
    &:deep(.is-disabled) {
      opacity: 1 !important;

      input,
      textarea {
        color: var(--hr-neutral-color-8) !important;
      }
    }
  }

  &.item-for-show {
    padding: 10rpx 32rpx;

    .container-body {
      align-items: flex-start;
      height: 100%;
      padding-top: 24rpx;
    }
  }

}

.form-item-error {

  :deep(input),
  :deep(textarea),
  input,
  textarea {
    color: var(--hr-error-color-6) !important;
  }
}

.full-item {
  width: 100%;
}

.my-disabled {
  pointer-events: none !important;
}

.my-disabled-color {
  color: red !important;
}

.icon-resize {
  font-size: var(--hr-font-size-xxl);
  background-repeat: no-repeat;
}

.icon_arrow {
  color: var(--hr-neutral-color-8);
}

.form-picker {
  :deep(.uni-data-tree .uni-data-tree-input) {
    display: none !important;
  }

  :deep(.selected-area) {
    flex: none !important;
  }
}
