.btn {
  color: var(--h-color-white);
  border-radius: 16rpx;

  font-size: var(--hr-font-size-xl);
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;



  &::after {
    display: none;
  }

  &.btn-primary {
    background-color: var(--hr-brand-color-6);
  }

  &.btn-border {
    border: 2rpx solid var(--hr-neutral-color-4);
    // box-shadow:
    //   inset 1rpx 1rpx 1rpx 0 rgba(0, 0, 255, .2),
    //   inset 1rpx -1rpx 1rpx 0 rgba(0, 0, 255, .2),
    //   inset -1rpx 1rpx 1rpx 0 rgba(0, 0, 255, .2),
    //   inset -1rpx -1rpx 1rpx 0 rgba(0, 0, 255, .2);
  }

  &.btn-normal {
    color: var(--hr-neutral-color-10);
    background-color: #fff;
  }

  &.btn-error {
    color: var(--hr-error-color-6);
    border-color: var(--hr-error-color-6);
  }

  &.btn-warning {
    background-color: var(--hr-warning-color-6);
  }

  &.btn-plain {
    background-color: transparent;

    &.btn-primary {
      color: var(--hr-brand-color-6);
      border-color: var(--hr-brand-color-6);
    }

    &.btn-error {
      border-color: var(--hr-error-color-6);
    }
  }

  &.btn-round {
    border-radius: 14px;
  }

  &.btn-size-small {
    font-size: var(--hr-font-size-xs);
    padding: 16rpx 24rpx;
    line-height: 1em;
    height: 100%;
    width: 100%;
    border-radius: 99px;

    &::after {
      display: none;
    }
  }

  &.btn-disabled {
    pointer-events: none;
    // background-color: var(--hr-brand-color-3) !important;
    opacity: .3;
  }
}
