@import url(./variables.css);
@import url(./common.css);

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* @font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/c/font_3235998_7x1e09tvft.woff2?t=1663228594843') format('woff2'),
    url('//at.alicdn.com/t/c/font_3235998_7x1e09tvft.woff?t=1663228594843') format('woff'),
    url('//at.alicdn.com/t/c/font_3235998_7x1e09tvft.ttf?t=1663228594843') format('truetype');
} */

@font-face {
  font-family: 'iconfont';  /* Project id 3235998 */
  src: url('//at.alicdn.com/t/c/font_3235998_mwnl4hnwqa.woff2?t=1664262502570') format('woff2'),
       url('//at.alicdn.com/t/c/font_3235998_mwnl4hnwqa.woff?t=1664262502570') format('woff'),
       url('//at.alicdn.com/t/c/font_3235998_mwnl4hnwqa.ttf?t=1664262502570') format('truetype');
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
