@mixin flex-normal {
  display: flex !important;
  align-items: center;
}

.flex-normal {
  @include flex-normal;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
  @extend .flex-normal;
}

.flex-start-r {
  align-items: flex-start;
}

.flex-start {
  align-items: flex-start;
  @extend .flex-normal;
}

.flex1 {
  flex: 1 !important;
}

.hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}



.flex-normal-between {
  justify-content: space-between;
  @extend .flex-normal;
}

.g-flex-rc-cc {
  justify-content: center;
  @extend .flex-normal;
}

.g-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--hr-font-size-base);

  .g-container {
    flex: 1;
    height: 1px;
    overflow-y: scroll;
    z-index: 2;
    position: relative;
    -webkit-overflow-scrolling: touch;
    @extend .hidden-scrollbar
  }
}


.g-footer {
  background-color: var(--h-color-white);
  padding: 24rpx 32rpx 48rpx;
  position: relative;
  z-index: 1;
  gap: 18rpx;

  display: flex;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

}

.g-nowrap {
  white-space: nowrap;
}
