.system-mode-old {
  --hr-font-size-xxl: 56rpx;
  --hr-font-size-xl: 44rpx;
  --hr-font-size-base: 40rpx;
  --hr-font-size-s: 40rpx;
  --hr-font-size-xs: 36rpx;
  --hr-font-size-xxs: 32rpx;
  --hr-font-size-xxxs: 32rpx;

  --h-size-40: 64rpx;
  --h-size-18: 40rpx;
  --h-size-46: 64rpx;
}
