.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.ellipsis-line-clamp2 {
  -webkit-line-clamp: 2;
}

.text-no-wrap {
  white-space: nowrap;
}

.g-break-word {
  word-break: break-all;
}

.g-split-line {
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    width: 1rpx;
    height: 24rpx;
    background-color: var(--hr-neutral-color-2);
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.g-bold {
  font-weight: 600;
}

.g-bolder {
  font-weight: 700;
}

.g-border {
  border: 1rpx solid var(--hr-neutral-color-2);
}

.g-border-top {
  border-top: 1rpx solid var(--hr-neutral-color-11);
}

.g-border-bottom {
  border-bottom: 1rpx solid var(--hr-neutral-color-11);
}

.g-border-right {
  border-right: 1rpx solid var(--hr-neutral-color-11);
}

.g-check {
  margin-right: 5px;
  border: 2px solid var(--hr-brand-color-6);
  border-left: 0;
  border-top: 0;
  height: 12px;
  width: 6px;
  transform-origin: center;
  /* #ifndef APP-NVUE */
  transition: all 0.3s;
  /* #endif */
  transform: rotate(45deg);
}


.icon-arrow {
  height: 20rpx;
  width: 20rpx;
  display: inline-block;
  border: 1rpx solid var(--hr-neutral-color-7);
  border-width: 4rpx 4rpx 0 0;

  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.icon-choose {
  height: 15rpx;
  width: 30rpx;
  display: inline-block;
  border: 1rpx solid var(--hr-brand-color-6);
  border-width: 4rpx 4rpx 0 0;
  transform: rotate(135deg);
}

.empty-list {
  transform: translateY(100%);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.color-blue {
  color: var(--hr-brand-color-6) !important;
}

.color-dark {
  color: var(--hr-neutral-color-10) !important;
}

.color-green {
  color: var(--hr-success-color-6) !important;
}

.color-purple {
  color: #7747ff !important;
}

.color-light-dark {
  color: var(--hr-neutral-color-7) !important;
}

.color-error {
  color: var(--hr-error-color-6) !important;
}

.color-111 {
  color: var(--hr-neutral-color-10) !important;
}

.color-444 {
  color: var(--hr-neutral-color-9) !important;
}

.color-666 {
  color: var(--hr-neutral-color-8) !important;
}

.color-888 {
  color: var(--hr-neutral-color-7) !important;
}

.color-fff {
  color: #fff !important;
}

.my-disabled {
  pointer-events: none !important;
}

.my-hide {
  @extend .my-disabled;
  opacity: 0;
}

.my-display-none {
  @extend .my-hide;
  position: fixed;
  top: -9999999999999rpx;
}

.safe-height {
  width: 1rpx;
  height: 40rpx;
}

.out-document {
  position: absolute;
}

.mb8 {
  margin-bottom: 8rpx !important;
}

.mb16 {
  margin-bottom: 16rpx !important;
}

.mb12 {
  margin-bottom: 12rpx !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb32 {
  margin-bottom: 32rpx !important;
}

.mb64 {
  margin-bottom: 64rpx !important;
}

.mr40 {
  margin-right: 40rpx;
}

.mb40 {
  margin-bottom: 40rpx !important;
}

.mt8 {
  margin-top: 8rpx !important;
}

.mt16 {
  margin-top: 16rpx !important;
}

.mt24 {
  margin-top: 24rpx !important;
}

.mt32 {
  margin-top: 32rpx !important;
}

.mt40 {
  margin-top: 40rpx !important;
}

.ml8 {
  margin-left: 8rpx !important;
}

.ml24 {
  margin-left: 24rpx !important;
}

.ml32 {
  margin-left: 32rpx !important;
}

.mr8 {
  margin-right: 8rpx !important;
}

.mr12 {
  margin-right: 12rpx !important;
}

.mr16 {
  margin-right: 16rpx !important;
}

.mr24 {
  margin-right: 24rpx !important;
}

.mr60 {
  margin-right: 60rpx !important;
}



.m32v {
  margin-top: 32rpx !important;
  margin-bottom: 32rpx !important;
}

.m32 {
  margin: 32rpx !important;
}

.p32 {
  padding: 32rpx !important;
}

.p32v {
  padding-top: 32rpx !important;
  padding-bottom: 32rpx !important;
}

.p32c {
  padding: 0 32rpx !important;
}

.p24c {
  padding: 0 24rpx !important;
}

.p24b {
  padding-bottom: 24rpx !important;
}

.p24v {
  padding: 24rpx 0 !important;
}

.p24 {
  padding: 24rpx !important;
}

.p40 {
  padding: 40rpx !important;
}

.pb32 {
  padding-bottom: 32rpx !important;
}

.pb40 {
  padding-bottom: 40rpx !important;
}

.pl32 {
  padding-left: 32rpx !important;
}

.pb18 {
  padding-bottom: 18rpx !important;
}

.pr12 {
  padding-right: 12rpx !important;
}

.pr24 {
  padding-right: 24rpx !important;
}

.pt24 {
  padding-top: 24rpx !important;
}

.f24 {
  font-size: var(--hr-font-size-xxxs) !important;
}

.f26 {
  font-size: var(--hr-font-size-xxs) !important;
}

.f28 {
  font-size: var(--hr-font-size-xs) !important;
}

.f30 {
  font-size: 30rpx !important;
}

.f32 {
  font-size: var(--hr-font-size-base) !important;
}

.f36 {
  font-size: var(--hr-font-size-xl) !important;
}

.f40 {
  font-size: 40rpx !important;
}

.f44 {
  font-size: 44rpx !important;
}


.f48 {
  font-size: var(--hr-font-size-xxl) !important;
}

.f80 {
  font-size: 80rpx !important;
}
