/* 颜色 */
$hr-neutral-color-1: #f6f6f6;
$hr-neutral-color-2: #e6e6e6;
$hr-neutral-color-3: #dddddd;
$hr-neutral-color-4: #cccccc;
$hr-neutral-color-5: #bbbbbb;
$hr-neutral-color-7: #888888;
$hr-neutral-color-8: #666666;
$hr-neutral-color-9: #444444;
$hr-neutral-color-10: #111111;
$hr-neutral-color-11: #f3f3f3;

$h-color-white: #ffffff;
/* 边框颜色 */
$h-color-border: #f1f1f1;

/* 主要颜色 */

/* 品牌色/主色-6  浅色-1 click状态-7 不可点击-3 */
$hr-brand-color-6: #296fff;
$hr-brand-color-6-light: #2970ff0a;
$hr-brand-color-1: #e9f0ff;
$hr-brand-color-7: #0050f5;
$hr-brand-color-2: #ccddff;
$hr-brand-color-3: #9ebeff;
/* tab页面选中背景色 */
$hr-brand-color-3-light: #ebf1ff;

/* 警示 warning  主色-6  浅色-1 click状态-7 不可点击-3 */
$hr-warning-color-6: #ff8a00;
$hr-warning-color-1: #fff3e0;
$hr-warning-color-7: #d26900;
$hr-warning-color-3: #ffd58b;

/* 错误 error 主色-6  浅色-1 click状态-7 不可点击-3 */
$hr-error-color-6: #ff5040;
$hr-error-color-1: #ffeee8;
$hr-error-color-7: #d23028;
$hr-error-color-3: #ffb5a5;

/* 成功 success 主色-6  浅色-1 click状态-7 不可点击-3 */
$hr-success-color-6: #00b39e;
$hr-success-color-1: #e7fff8;
$hr-success-color-7: #00998d;
$hr-success-color-3: #7be2cb;

/* Radius圆角 */

/* 字体粗细 */
$h-weight-1: 500;
$h-weight-2: 600;

/* 字体大小 */
/* $hr-font-size-xxl; */
$hr-font-size-xxl: 48rpx;
/* $hr-font-size-xl; */
$hr-font-size-xl: 36rpx;
/* $hr-font-size-base; */
$hr-font-size-base: 32rpx;
/* $hr-font-size-s; */
$hr-font-size-s: 30rpx;
/* $hr-font-size-xs; */
$hr-font-size-xs: 28rpx;
/* $hr-font-size-xxs; */
$hr-font-size-xxs: 26rpx;
/* $hr-font-size-xxxs; */
$hr-font-size-xxxs: 24rpx;

/* $h-size-40; */
$h-size-40: 40rpx;
$h-size-18: 18rpx;
$h-size-46: 46rpx;

/* 图标大小 */
$h-iconfont-48: 48rpx;
$h-iconfont-60: 60rpx;
$h-iconfont-64: 64rpx;

/* 页面边距 */
/* 页面上下边距 */
$h-margin-24: 24rpx;

$animate-duration: 800ms;
$animate-delay: 0.9s;

$h-popup-max-height: max(80vh, 999rpx);

:root,
page {
  font-size: $hr-font-size-base;
  background-color: $hr-neutral-color-1;
  color: $hr-neutral-color-10;
  font-family: PingFangSC, PingFangSC-Regular;

  height: 100%;
}

$themes: (
  old: (
    ppp: blue,
  ),

  old1: (
    ppp: red,
  ),
);

$theme-map-list: null;
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map-list: $theme-map !global;

    .#{$theme-name} & {
      @content;
    }
  }
}

@function theme_val($theme-key) {
  @return map-get($theme-map-list, $theme-key);
}

@mixin font_color($color) {
  @content;
  @include themeify {
    color: theme_val($color) !important;
  }
}

// .aaa {
//   @include font_color("ppp");
// }
